body {
    background-color: #ffffff;
    font-family: Georgia, serif, helvetica, sans-serif;
}

h1 {
    font-size: large;
    color: black;
}

a.img {
    text-decoration: none;
}

a.txt {
    color: blue;
    text-decoration: none;
    border-bottom: 1px dashed;
}

span.boxhdr {
    font-size: large;
    font-weight: bold;
    color: black;
}

div.textbox {
    border: 2px purple;
    padding: 10px;
    background-color: white;
    margin-bottom: 14px;
}

div.namebox {
    margin-bottom: 14px;
}

.padded-image {
    margin-top: 24px;
}